 <%- include ('partials/_header')  %>


<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="card mb-3 mx-auto" style="width: 100%">
                <h3 class="card-header text-center"><%= data.name %> <%= data.lastname %></h3>   
                <img style="height: 390px; width: 100%; display: block; object-fit: contain" src="<%= data.qr_code %>" alt="QR Code Image">
            </div>
        </div>
    </div>
</div>



<!-- Ion Icon -->
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

</body>
</html>