
    <footer class="footer bg-dark text-white text-center mb-0">
    <div class="container">
        <div class="row ">
            <div class="col-lg-4 col-sm-12 ">
                <p class="lead ml-2 pt-3 mr-2 p-footer">
                    <ion-icon name="person-outline" size="small" class="mr-1"></ion-icon> 
                    <span class="text-muted ml-3">Federico Milone</span>
                </p>
            </div>
            <div class="col-lg-4 col-sm-12 p-footer">
                <p class="lead ml-2 pt-3">
                    <ion-icon name="mail-outline" size="small" class="mr-1"> </ion-icon> 
                    <span class="text-muted ml-2" >fedeemilo91@gmail.com</span>
                </p>
            </div>
            <div class="col-lg-4 col-sm-12 p-footer">
                <p class="lead ml-2 pt-3">
                    <ion-icon name="globe-outline" size="small" class="mr-1"></ion-icon>
                    <a href="https://federico-milone.now.sh"><span class="text-muted ml-2">federico-milone.now.sh</span></a>
                </p>
            </div>
        </div>
    </div>
    
    </footer>


    <!-- Ion Icon -->
     <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

    <!-- Script utils -->
    <script src="/assets/js/script-utils.js"></script>

    <!-- Script form validation -->
    <script src="/assets/js/script-validation.js"></script>

</body>
</html>