<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="src/public/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Personas</title>
    <!-- Bootswatch (Bootstrap based) -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Styles -->
    <link rel="stylesheet" href="/assets/css/style.css">
     
</head>
<body>
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <a href="/" class="navbar-brand mx-auto"><ion-icon name="body-outline"></ion-icon></a>
        </nav>